
<nav class="navbar">
      <div class="navbar-gradient"></div>
      <div class="navbar-content">
        <img src="pokemonLogo.png"
             alt="Pokemon Logo" class="navbar-logo" />
        <div class="navbar-right" *ngIf="trainerName">
          <button class="user-dropdown">
            {{ trainerName }}
            <mat-icon class ="chevron">keyboard_arrow_down</mat-icon>
          </button>
          <button class="search-btn" aria-label="Search">
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </div>
      </div>
    </nav>