
<nav class="navbar">
      <div class="navbar-gradient"></div>
      <div class="navbar-content">
        <img src="pokemonLogo.png"
             alt="Pokemon Logo" class="navbar-logo" />
        <div class="navbar-right" *ngIf="trainerName">
          <button class="user-dropdown">
            {{ trainerName }}
            <svg
              class = "chevro"
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>

          </button>
          <button class="search-btn" aria-label="Search">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#1A3A4A" stroke-width="2">
              <circle cx="11" cy="11" r="8"/><path d="m21 21-4.35-4.35"/>
            </svg>
          </button>
        </div>
      </div>
    </nav>